.header
{
    font-family: serif;
    font-size: 12px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    -webkit-transition: .5s;
            transition: .5s;
    -webkit-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
            transform: rotate(-4deg);

    opacity: 1;

    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

h1
{
    font-size: 3rem;

    text-align: center;

    color: red;
}

.header
{
    font-family: serif;
    font-size: 12px;

    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    -webkit-transition: .5s;
            transition: .5s;

    opacity: 1;

    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

h1 > a
{
    font-size: 3rem;

    text-align: center;
}

body
{
    font-size: 10px;

    position: relative;
    top: 100px;
    right: 0;
    bottom: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin: 0;
    padding-top: 100px;

    -webkit-transition: 1s;
            transition: 1s;
    text-align: center;

    background-color: rgb(218, 218, 60);

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
body h1
{
    color: blue;
}
@media (min-width: 600px)
{
    .header
    {
        font-size: 30px;

        text-align: center;
    }
    .header
    {
        font-size: 20px;

        text-align: center;

        background-image: url('url');
    }
}
@media (min-width: 900px)
{
    .header
    {
        font-size: 20px;

        text-align: center;

        background-image: url('url');
    }
}
@media (min-width: 1600px)
{
    .header h1
    {
        font-size: 20px;

        text-align: center;

        background-image: url('url');
    }
}
@media (max-width: 1900px) and (min-width: 1601px)
{
    .header h1
    {
        font-size: 20px;

        text-align: center;
    }
    .header h1
    {
        font-size: 20px;

        text-align: center;

        background-image: url('url');
    }
}
@media (max-width: 1200px) and (min-width: 1001px)
{
    .header h1
    {
        font-size: 20px;

        text-align: center;
    }
    .header h1
    {
        font-size: 20px;

        text-align: center;

        background-image: url('url');
    }
}
@media (max-width: 900px) and (min-width: 601px)
{
    .header h1
    {
        font-size: 20px;

        text-align: center;
    }
    .header h1
    {
        font-size: 20px;

        text-align: center;

        background-image: url('url');
    }
}
@media (max-width: 600px)
{
    .header
    {
        font-size: 20px;

        text-align: center;
    }
    .header
    {
        font-size: 20px;

        text-align: center;

        background-image: url('url');
    }
}
